.bm-burger-button {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.bm-burger-bars {
  @apply bg-darkest dark:bg-lightest;
  height: 10% !important;
}

.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
  top: 25px !important;
  right: 36px !important;
}

.bm-cross {
  @apply bg-darkest dark:bg-lightest;
  height: 36px !important;
  transform-origin: center;
}

.bm-overlay {
  @apply bg-lightest dark:bg-darkest top-0 left-0 right-0 bottom-0;
}

.bm-item-list {
  @apply flex justify-center flex-col space-y-8 text-right;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.bm-menu {
  @apply p-8 bg-lightest dark:bg-darkest;
}
